* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* added font color of white to the body since the entire page is using white font except for two areas. */
body {
    background-color: #d9dcd6;
    color: #ffffff
}
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}
/* Removed header class and replaced with header element. Also removed the div child and added nav element. Also removed header from h1 element below. */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* Removed header and only used nav. Changed display to flex so nav bar wouldn't overlay on the picture. */
nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
section {
    display: block;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
section img {
    max-height: 200px;
}
section h2 {
    margin-bottom: 20px;
    font-size: 26px;
}
/* Changed benefit class div to an aside. */
aside {
    display: block;
    padding: 10px;
}
/* Removed header and nav element and just left ul. */
ul {
    list-style-type: none;
}
/* Removed header, nav and ul elements and just left ili. */
li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
/* Removed a element and added it to the nav since it will do the same thing. */
p {
    font-size: 16px;
}
/* Consolidated the margin-bottom and color from 3 different classes into one element of h2. */
h2 {
    margin-bottom: 32px;
}
/* Consolidated the margin-bottom and color from 3 different classes into one element of h3. */
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Removed header and h1 and used class of .seo instead. */
h4 {
    font-size: 16px;
    color: #000000;
}
.seo {
    color: #d9dcd6;
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Consolidated all images under .benefits class into one. */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #000000
}

footer h2 {
    font-size: 20px;
}

